<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>For Honor</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Choose your Path</h1>
        <div class="row center">
          <h5 class="header col s12 light">If you choose between your GF or For honor, Which faction would you choose?</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Decide</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="fh1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Community</h5>

            <p class="light">With our commitment to keep a fair experience in For Honor, we’ve implemented EasyAntiCheat, a program that allows us to identify players who look to cheat or hack their way into better performances on the battlefield.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">War of Factions</h5>

            <p class="light">Each online multiplayer match awards War Assets based on the outcome and the player's performance. These War Assets are then deployed in the Faction War – which stretches across all platforms – where they are used either to defend an allied territory or conquer a neighboring one occupied by an enemy faction, with the most war assets deployed in a given territory determining the victor. Territories controlled are updated every six hours, while rounds last for two weeks and seasons last for ten weeks (five rounds).</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Campaign</h5>

            <p class="light">After a natural catastrophe that pitted the most fearsome warriors in the fight for resources and territory, the bloodthirsty warlord Apollyon believes the people of the Knights, Vikings, and Samurai have grown weak and wants to create an age of all-out war through manipulation of each faction. To this end the perspectives of characters within each faction are shown as events are shaped, battles are waged, and agendas are created as Apollyon works to ensure continuous sparks of conflict between the Legion, the Warborn, and the Chosen.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="fh2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">For Honor was developed by Ubisoft Montreal. Blue Byte developed the game's PC version. It was announced during Ubisoft's E3 2015 press conference. A CGI trailer and a gameplay demo were shown during the conference. Development of the game began in 2012. For Honor was the company's first attempt at developing a strategy-action game.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A hack and slash fighting game developed and published by Ubisoft for Microsoft Windows, PlayStation 4, and Xbox One.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="fh3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Heroes</h5>
          <p class="grey-text text-lighten-4">There are currently 12 playable heroes in-game and there are 6 possible upcoming characters with unique abilities</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Community</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
